nav.navbar.navbar-inverse.navbar-fixed-top
  .container-fluid
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') I love my city
    #myNavbar.collapse.navbar-collapse
      ul.nav.navbar-nav
        li
          a(href='/bangalore') Bangalore
        li
          a(href='/kashmir') Kashmir
        li
          a(href='/delhi') Delhi
        li
          a(href='/kolkata') Kolkata
