doctype html
html
  head
    include partials/head.jade
  body
    include partials/navbar.jade
    .container
      include partials/heading.jade
      .row
        .col-sm-12.col-md-12.col-lg-12
          img.img-thumbnail.center-block(src='/images/home-city.jpg', alt='i love my city')
    include partials/scripts.jade
